
html,
body {
  background-color: #fff;
}
.btn {

  font-family: "微软雅黑 Light", SansSerif, serif;
  background-color: rgb(213,69,44);
  border:1px outset rgb(207,207,207);
  border-radius: 5px;
  color :#fff;
  font-size:0.42rem;

  padding:0.22rem;
}

.col-10 {
  margin-bottom: 0.4667rem;
}

.col-10 ul{

  list-style: none;
  color: #999999;
}

ul li {
  margin-bottom: 0.4em;
  padding-bottom: 0.4em;
  border-bottom: 1px dashed #666666;
}

.active {
  color:#019fe8;
}

li span {
  display: inline-block;
  margin-top: 0.2rem;
}
li label {
  display: inline-block;
  width: 4em;
  margin-top: 0.2rem;
  margin-right: 1em;
}
.reason {
  padding-left: 5em;
}